<h1>ツイート一覧</h1>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @tweets.each do |tweet| %>
<tr>
  <td><%= tweet.content %></td>
  <td><%= link_to '詳細を確認する', tweet_path(tweet.id) %></td>
<% end %>
</table>
<br>
<%= link_to '新しくツイートを投稿する', new_tweet_path %>
